<h2>Descartes Éditeur</h2>

<div class="container">
    <div class="job">
        <div class="num">1977</div>
        <hr>
        <p>Jeux Descartes est créé en 1977 par Peter Watts, dans le cadre de son cabinet de conseil European
            Participative Methods (EPM France Sarl), Peter Watts étant amateur de jeux, pigiste et critique de jeux dans
            Science & vie.
        </p>
    </div>

    <div class="job">
        <div class="num">1977</div>
        <hr>
        <p>En 1977, la société ouvre son premier magasin rue des Écoles dans le quartier latin à Paris. D'autres
            magasins seront créés par la suite, entre autres à Lyon.
        </p>
    </div>

    <div class="job">
        <div class="num">1988</div>
        <hr>
        <p>En 1988-89, Jeux Descartes devient Descartes Éditeur.
        </p>
    </div>

    <div class="job">
        <div class="num">1988</div>
        <hr>
        <p>La société Eurogames est créée en 1988 par Duccio Vitale et Yves Fagherazzi. Reprenant le concept
            d'International Team, une société italienne connue pour ses jeux en plusieurs langues, Eurogames publie de
            1988 à 1994 vingt-deux jeux en huit langues : français, anglais, allemand, italien, hollandais, espagnol,
            portugais et grec.
        </p>
    </div>

    <div class="job">
        <div class="num">1994</div>
        <hr>
        <p>Les droits d'éditions des jeux Eurogames sont cédés à la société Descartes Éditeur en mai 1994.
        </p>
    </div>

    <div class="job">
        <div class="num">2005</div>
        <hr>
        <p>En 2005, Descartes Éditeur rejoint le groupe Asmodée qui reprend les cinq boutiques situées à Paris, Lyon et
            Bordeaux, les activités d'édition et celles de distribution. De ce fait, le catalogue de jeux est
            profondément remanié.
        </p>
    </div>

</div>