<h2>Descartes Éditeur</h2>

<div class="container">
    <div class="job">
        <div class="num">1992</div>
        <hr>
        <p>Le premier fanzine Le Grimoire est paru en mai 1992, puis sort chaque année jusqu'en 2004.
        </p>
    </div>

    <div class="job">
        <div class="num">2006</div>
        <hr>
        <p>En 2006, le Grimoire obtient les droits pour l’édition française du jeu de rôle Loup Solitaire. L’ouvrage se présente sous la forme d'une grande encyclopédie illustrée du monde créé par Joe Dever et Gary Chalk pour les livres-jeu Loup Solitaire. 
        </p>
    </div>

    <div class="job">
        <div class="num">2015</div>
        <hr>
        <p>À partir de 2015, le Grimoire s'occupe de l’édition du jeu de rôle Le Donjon de Naheulbeuk. 
        </p>
    </div>

    <div class="job">
        <div class="num">2016</div>
        <hr>
        <p>Le concours de nouvelles Mille Saisons des éditions Le Grimoire donne lieu à une anthologie composée de 21 nouvelles, accompagnées d'illustrations, de compositions musicales et de libre-courts cinématographiques. 
        </p>
    </div>

</div>